body {
    background-color: hsl(271, 85%, 14%);
    background-image: radial-gradient(circle farthest-corner at center, hsl(271, 76%, 25%) 0%, hsl(271, 85%, 14%) 100%);;
 }


/* this a fucken better style */
nav {
    position:fixed;
    border: 10px;
    border-color: hsl(290, 72%, 32%);
    border-style: outset;
    background-color: hsl(290, 69%, 20%);
    background-image: linear-gradient(to top left, hsl(290, 72%, 28%) 0%, hsl(290, 69%, 20%) 100%);;
    box-shadow: 0px 0px 12px 4px #000000be;
    z-index: 999;
}

/* this style shit maybe? */
/* nav {
    position:fixed;
    background-color: hsla(0, 0%, 0%, 0.304);
    backdrop-filter: blur(3px);
    z-index: 999;
} */


nav ul {
    margin: 0 auto;
    padding: 5px 10px;
}
nav li {
    padding: 0px 9px;
}
nav a {
    text-decoration: none;
}



#logo {
    display: block;
    top: 0;
    width: 70%;
    height: 250px;
    border: 20px;
    border-color: hsl(290, 72%, 32%);
    border-style: outset;
    background-color: hsl(290, 69%, 20%);
    background-image: linear-gradient(to top left, hsl(290, 72%, 28%) 0%, hsl(290, 69%, 20%) 100%);;
    padding: 0 11%;
    margin: 0 auto;
    box-shadow: 0px 0px 12px 4px #000000be;
}
#logo img {
    display: block;
    top: 0;
    width: auto;
    height: 250px;
    padding: 0 11%;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    font-size: xx-large;
}

a {
    color: rgb(114, 114, 243);
}

a:visited {
    color: rgb(114, 114, 243);
}

nav a{
    color:#fff;
}
nav a:visited {
    color:#fff;
}
nav a:hover {
    color:#ffc800;
    text-shadow: 0px 0px 4px #ffc800;
}

#nick, #mark, #aprill, #dan {
    display: inline-flex;
    width: 320px;
    padding: 0 10px;
    font-size: x-large;
}
#nick details[open] summary,#mark details[open] summary,#dan details[open] summary,#aprill details[open] summary {
    font-weight: bold;;
    color:rgb(18, 139, 18)
}

#all summary,#all p {
    color:#0f0;
    font-family:'Courier New', Courier, monospace;
}
#all summary::selection, #all p::selection {
    color:#000;
    background-color: #0f0;
}

#all {
    background-color: hsl(0, 0%, 4%);
    background-image: linear-gradient(to top, hsl(0, 0%, 2%) 0%, hsl(0, 0%, 5%) 100%);;
 }

nav,summary,p,h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 241);
}

summary:hover {
    cursor:pointer;
}
#all summary:hover {
    color:#9f9;
}

#all {
    background-color: #000;
    margin-top: 13px;
    margin-left: 35px;
    margin-right: 35px;
    padding-left:10px;
    padding: 10px;
    border: solid 3px #0f0;
    /* overflow:auto; */
    /* height: 320px; */
}

.news {
    background-color: #0000004f;
    border-radius: 7px;
    margin: auto;
    width:70%;
    margin-top:16px;
    padding:16px 16px;
    padding-bottom: 4px;
}
.news h1,.news h3{
    display: inline;
}
.news h3 {
    color: rgba(155, 155, 241,0.5);
}
.news h1{
    color:#99f;
}
.news p {
    color:#99d;
}

.justhomepageshit h1, .justhomepageshit p {
    text-align: center;
    font-size:x-large;
}
.justhomepageshit p {
    color:rgb(114, 114, 243);
}