body {
    background-color: rgb(65, 15, 111);
}

nav {
    position:fixed;
    border: 10px;
    border-color: hsl(290, 72%, 32%);
    border-style: outset;
    background-color: hsl(290, 72%, 28%);
    box-shadow: 0px 0px 12px 4px #000000be;
    z-index: 999;
    
}
nav ul {
    margin: 0 auto;
    padding: 5px 10px;
}
nav li {
    padding: 0px 9px;
}
nav a {
    text-decoration: none;
}

#logo {
    display: block;
    top: 0;
    width: 70%;
    height: 250px;
    border: 20px;
    border-color: hsl(290, 72%, 32%);
    border-style: outset;
    background-color: hsl(290, 72%, 28%);
    padding: 0 11%;
    margin: 0 auto;
}
#logo img {
    display: block;
    top: 0;
    width: auto;
    height: 250px;
    padding: 0 11%;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    font-size: xx-large;
}

a {
    color: rgb(114, 114, 243);
}

a:visited {
    color: rgb(114, 114, 243);
}

nav a{
    color:#1c133a;
}
nav a:visited {
    color:#1c133a;
}
nav a:hover {
    color:#1c133a;
}

#nick, #mark, #aprill, #dan {
    display: inline-flex;
    width: 320px;
    padding: 0 10px;
    font-size: x-large;
}

#all summary,#all p {
    color:#0f0;
}
p,h1,h2,h3,h4,h5,h6{
    color: rgb(114, 114, 243);
}
summary {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: sticky;
}
summary:hover {
    cursor:pointer;
}

#all {
    background-color: #000;
    margin-top: 13px;
    margin-left: 35px;
    margin-right: 35px;
    padding-left:10px;
    padding: 10px;
    border: solid 3px #0f0;
    overflow:auto;
    height: 320px;
}